Repository Joystream/pioneer, pull requests merged in 2023-12, with the labels that each got.

#4539 4487 validator profiles
  packages/ui/src/app/pages/Validators/ValidatorList.stories.tsx
  packages/ui/src/bounty/queries/__generated__/bounty.generated.tsx
  packages/ui/src/common/api/queries/__generated__/baseTypes.generated.ts
  packages/ui/src/common/api/schemas/schema.graphql
  packages/ui/src/council/queries/__generated__/council.generated.tsx
  packages/ui/src/forum/queries/__generated__/forum.generated.tsx
  packages/ui/src/memberships/queries/__generated__/members.generated.tsx
  packages/ui/src/memberships/queries/members.graphql
  packages/ui/src/mocks/data/raw/members.json
  packages/ui/src/mocks/providers/api.tsx
  packages/ui/src/overview/queries/__generated__/overview.generated.tsx
  packages/ui/src/proposals/queries/__generated__/proposals.generated.tsx
  packages/ui/src/validators/hooks/useValidatorMembers.tsx
  packages/ui/src/validators/hooks/useValidatorsList.tsx
  packages/ui/src/validators/types/Validator.ts
  packages/ui/src/working-groups/queries/__generated__/workingGroups.generated.tsx
Labels: community-dev, scope:validators

#4643 Update validator list columns
  packages/ui/src/app/pages/Validators/ValidatorList.stories.tsx
  packages/ui/src/common/utils.ts
  packages/ui/src/mocks/providers/api.tsx
  packages/ui/src/validators/components/ValidatorItem.tsx
  packages/ui/src/validators/components/ValidatorsList.tsx
  packages/ui/src/validators/hooks/useValidatorMembers.tsx
  packages/ui/src/validators/hooks/useValidatorsList.tsx
  packages/ui/src/validators/types/Validator.ts
Labels: community-dev, scope:validators

#4670 clickable link
  packages/ui/src/memberships/components/MemberProfile/MemberDetails.tsx
Labels: community-dev

#4419 Validators list page validator card
  packages/ui/package.json
  packages/ui/src/app/pages/Validators/ValidatorList.stories.tsx
  packages/ui/src/common/constants/numbers.ts
  packages/ui/src/mocks/helpers/asChainData.ts
  packages/ui/src/validators/components/RewardPointChart.tsx
  packages/ui/src/validators/components/ValidatorInfo.tsx
  packages/ui/src/validators/components/ValidatorItem.tsx
  packages/ui/src/validators/components/ValidatorsList.tsx
  packages/ui/src/validators/hooks/useValidatorsList.tsx
  packages/ui/src/validators/modals/validatorCard/Nominators.tsx
  packages/ui/src/validators/modals/validatorCard/ValidatorCard.tsx
  packages/ui/src/validators/modals/validatorCard/ValidatorDetail.tsx
  packages/ui/src/validators/types/Validator.ts
  yarn.lock
Labels: community-dev, scope:validators

#4556 Add an election progress bar
  packages/ui/src/app/pages/Election/Election.stories.tsx
  packages/ui/src/app/pages/Election/Election.tsx
  packages/ui/src/app/pages/Election/components/ElectionProgressBar.tsx
  packages/ui/src/app/pages/Election/components/ElectionProgressCardItem.tsx
  packages/ui/src/common/components/statistics/StatisticItem.tsx
  packages/ui/src/council/hooks/useCouncilPeriodInformation.ts
  packages/ui/test/council/pages/Election.test.tsx
Labels: community-dev

#4700 Temporary Nominating Redirect Modal
  packages/ui/src/app/GlobalModals.tsx
  packages/ui/src/common/components/buttons/Links.tsx
  packages/ui/src/validators/components/ValidatorItem.tsx
  packages/ui/src/validators/modals/NominatingRedirectModal/NominatingRedirectModal.tsx
  packages/ui/src/validators/modals/NominatingRedirectModal/index.ts
  packages/ui/src/validators/modals/NominatingRedirectModal/types.ts
  packages/ui/src/validators/modals/validatorCard/ValidatorCard.tsx
  packages/ui/src/validators/modals/validatorCard/ValidatorDetail.tsx
Labels: scope:validators

#4428 4330 create validator profile
  packages/ui/.storybook/preview.tsx
  packages/ui/src/app/App.stories.tsx
  packages/ui/src/app/Providers.tsx
  packages/ui/src/common/components/Modal/Modals.tsx
  packages/ui/src/common/components/forms/Label.tsx
  packages/ui/src/common/components/icons/index.ts
  packages/ui/src/memberships/modals/BuyMembershipModal/AddStakingAccCandidateModal.tsx
  packages/ui/src/memberships/modals/BuyMembershipModal/BuyMembershipFormModal.tsx
  packages/ui/src/memberships/modals/BuyMembershipModal/BuyMembershipModal.tsx
  packages/ui/src/memberships/modals/BuyMembershipModal/BuyMembershipSignModal.tsx
  packages/ui/src/memberships/modals/BuyMembershipModal/ConfirmStakingAccModal.tsx
  packages/ui/src/memberships/modals/BuyMembershipModal/machine.ts
  packages/ui/src/memberships/modals/UpdateMembershipModal/types.ts
  packages/ui/src/validators/hooks/useValidatorMembers.tsx
  packages/ui/src/validators/hooks/useValidators.ts
  packages/ui/src/validators/hooks/useValidatorsList.tsx
  packages/ui/src/validators/providers/context.tsx
  packages/ui/src/validators/providers/provider.tsx
Labels: community-dev, jsg-code-review, scope:validators
